/* body of the page */
body{
    background: url(../images/beach.jpg) no-repeat; 
    background-size: 860px 730px;
}
/* h1 tag in the index page for header */
h1{
color: white;
background-color: coral;
font-size: 2em;
padding: 20px;
margin: 10px;
width: 260px;

}
/* instructions div */
.instructions{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: peachpuff;
    color: green; 
    width: 360px;
    padding: 20px;
    margin: 10px;

}
/* score and random number generator div */
.scoreFloat{
    height: 100px;
    
    width: 350px;
}
/* random number generator */
.randomNumber{
    float: left; 
    background-color:green;
    width: 100px;
    height: 40px;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
    font-size: 2em;
    
}
/* score generator */
.score{
    float: left;
    background-color: aqua;
    width: 70px;
    height: 55px;
    padding: 20px;
    padding-top: 5px;
    margin: 10px;
    line-height: 25px;
    
}
/* image dimensions */
img{
    margin-left: 10px;
    height: 55px;
    width: 55px;
}
/* score display message */
.totalScore{
    background-color: rgb(67, 119, 93);
    color: white;
    width: 200px;
    height: 20px;
    padding: 5px;
    margin: 10px;
}
/* total score by clicking the gems. */
.scoreCounter{
    background-color: rgb(67, 119, 93);
    color: white;
    width: 200px;
    height: 80px;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    font-size: 2em;
}